<div fxLayout fxLayoutAlign="center center" fxLayoutGap="48px" style="width: 100%; height: 100%; background: #303030">
  <mat-icon>check_circle</mat-icon>
  <h1 style="font-size: 32px">Form Successfully Submitted!!!</h1>
</div>
