<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="48px" style="width: 100%; height: 100%; background: #303030">
  <h1>Please fill in the following...</h1>
  <form fxLayout="column" [formGroup]="form" fxLayoutGap="8px">
    <p style="padding-bottom: 16px; opacity: 0.6">Fields marked in * are mandatory....</p>
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>First Name*</mat-label>
        <input matInput placeholder="First Name*" formControlName="first_name">
      </mat-form-field>
      <mat-error *ngIf="form.get('first_name').touched && form.get('first_name').hasError('required')">First Name is required.</mat-error>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" formControlName="last_name">
    </mat-form-field>
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Username*</mat-label>
        <input matInput placeholder="Username*" formControlName="username">
      </mat-form-field>
      <mat-error *ngIf="form.get('username').touched && form.get('username').hasError('required')">Username is required.</mat-error>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Password*</mat-label>
        <input type="password" matInput placeholder="Password*" formControlName="password">
      </mat-form-field>
      <p *ngIf="form.get('password').untouched" style="font-size: 10px; opacity: 0.6">Password must be of at least 8 characters</p>
      <mat-error *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required.</mat-error>
      <mat-error *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password must of atleast 8 characters.</mat-error>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth*</mat-label>
        <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="picker" formControlName="date_of_birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-error *ngIf="form.get('date_of_birth').touched && form.get('date_of_birth').hasError('required')">Date of Birth is required.</mat-error>
    </div>
    <div fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Country*</mat-label>
        <mat-select placeholder="Country*" formControlName="country">
          <mat-option value="india">India</mat-option>
          <mat-option value="pakistan">Pakistan</mat-option>
          <mat-option value="usa">USA</mat-option>
          <mat-option value="australia">Australia</mat-option>
          <mat-option value="new zealand">New Zealand</mat-option>
          <mat-option value="china">China</mat-option>
          <mat-option value="united kingdom">United Kingdom</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="form.get('country').touched && form.get('country').hasError('required')">Country is required.</mat-error>
    </div>
    <br>
    <button mat-raised-button color="accent" *ngIf="!submitted" (click)="submitForm()">Submit</button>
    <button mat-raised-button color="accent" disabled *ngIf="submitted">
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-spinner [diameter]="20"></mat-spinner>
        <span>Submitting</span>
      </div>
    </button>
  </form>
</div>
