/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input {
  color: white !important;
}

button {
  color: white !important;
}

.mat-form-field-infix {
  border-top: .5em solid transparent;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.75em 0 0.75em 0;
}

h1, p {
  color: white;
}

p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

mat-error {
  font-size: 10px;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}
